@page "/gameplay/{topic}"
@inject TriviaService TriviaService
@inject NavigationManager NavigationManager
@using System.Net.Http.Json

<!-- As long as there are more questions and lives is higher than 0, load gameplay elements -->
@if (currentQuestion != null && questionNumber < 41 && lives > 0)
{
    // Question box
    <div id="questionBox">
        <div id="questionNumber">Question @questionNumber</div>
        <div id="questionText">@currentQuestion.QuestionText</div>
    </div>

    // Timer and lives
    <div id="timerAndLivesBox">
        <div id="timer">Time left: @timeLeft</div>
        <div id="lives">Lives: @lives</div>
    </div>

    // Choice boxes and functionality
    <div class="choices">
        @foreach (var choice in currentQuestion.TriviaChoices)
        {
            <div class='@(isAnswered && userChoice == choice ? (choice.IsCorrect == "Y" ? "correct" : "incorrect") : "")             
                        @(isAnswered ? "disabled" : "")'
                        @onclick="(() => CheckAnswer(choice))">
                        @choice.ChoiceText
            </div>
        }
    </div>
}
else if (questions != null && questions.Count > 0)
{
    // Redirect to results page if 0 lives are left or if there are no more questions
    NavigationManager.NavigateTo("/results");
}
else
{
    <div class="loadingTextBox">
        <p class="loadingText">Loading...</p>
    </div>
}

@code {
    private bool isPageLoaded = false;

    private List<TriviaQuestion>? questions;

    private TriviaQuestion? currentQuestion;
    private TriviaChoice? userChoice;
    private bool isAnswered = false;
    private int questionNumber = 1;

    private System.Threading.Timer? timer;
    private int timeLeft = 15;
    private int lives = 3;

    private string topic;

    [Parameter]
    public string Topic
    {
        get => topic;
        set
        {
            topic = value;
        }
    }

    // Perform synchronous operations on loading component
    protected override void OnInitialized() 
    {
        isPageLoaded = true;
    }

    //  Perform asynchronous operations on loading component
    protected override async Task OnInitializedAsync()
    {
        await GetQuestions();
        await GetNextQuestion();
    }

    // Get questions by difficulty
    private async Task GetQuestions()
    {
        if (questionNumber == 1)
        {
            questions = await TriviaService.GetRandomQuestionsByTopicAndDifficulty(topic, 1);
        }
        else if (questionNumber == 10) 
        {
            questions = await TriviaService.GetRandomQuestionsByTopicAndDifficulty(topic, 2);
        } 
        else if (questionNumber == 20)
        {
            questions = await TriviaService.GetRandomQuestionsByTopicAndDifficulty(topic, 3);
        }
        else if (questionNumber == 30)
        {
            questions = await TriviaService.GetRandomQuestionsByTopicAndDifficulty(topic, 4);
        }
    }

    // Get next question
    private async Task GetNextQuestion()
    {
        if (questionNumber == 10)
        {
            await GetQuestions();
        }
        else if (questionNumber == 20)
        {
            await GetQuestions();
        }
        else if (questionNumber == 30)
        {
            await GetQuestions();
        }

        if (questions != null && questions.Count > 0 && lives > 0)
        {
            currentQuestion = questions[0];
            if (isPageLoaded) 
            {
                StartTimer();
            }
        }
        else
        {
            currentQuestion = null;
        }

        isAnswered = false;
    }

    // Check if answer is locked in and load next question if it is
    private void CheckAnswer(TriviaChoice? choice)
    {
        if (!isAnswered)
        {
            isAnswered = true;
            ResetTimer();
        } 
        else
        {
            return; // Disables choices when answer is locked
        }

        userChoice = choice; // Used for styling correct/incorrect choices correctly 

        if (choice is not null && choice.IsCorrect == "N")
        {
            lives--;
        }

        if (questions != null && questions.Count > 0)
        {
            questions.RemoveAt(0); 

            Task.Run(async () =>
            {
                await Task.Delay(1000);
                questionNumber++;
                await GetNextQuestion();
            });
        }
        else
        {
            currentQuestion = null; // No more questions, game is finished
        }
    }

    // Start timer
    private void StartTimer()
    {
        timer?.Dispose();

        timer = new System.Threading.Timer(state =>
        {
            if (timeLeft > 0) 
            {
                timeLeft--;  
            }
            else
            {
                Task.Run(() => CheckAnswer(null));
                lives--;
            }
            StateHasChanged();
        }, null, TimeSpan.Zero, TimeSpan.FromSeconds(1));
    }

    // Reset timer
    private void ResetTimer()
    {
        timer?.Dispose();
        timeLeft = 15;
    }
}